@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

h1, h2, h3, h4, p, ul, li, button{
    margin: 0;
    padding: 0;
}

img {
    max-width: 345px;
}

.body{
    max-width: 375px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-image: url(images/background-header.svg);
    background-repeat: no-repeat;
}

.header{
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 21px;
    padding-right: 16px;
    margin-bottom: 40px;
}

.topbar{
    display: flex;
    justify-content: space-between;
}

.topbar__logo{
    width: 126px;
    order: 1;
}

.topbar__nav-bar{
    width: 16px;
    height: 2px;
    margin-top: 10px;
    background-color: #13AB4E;
    border-radius: 2px;
    box-shadow: 0 5px 0 0 #13AB4E, 
                0 10px 0 0 #13AB4E;
    order: 0;
}

.topbar__link{
    display: none;
}

.topbar__login{
    margin-top: 5px;
    order: 2;
}

.header .request-button{
    display: none;
}

.subtitle{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8px;
}

.about .subtitle{
    width: 309px;
    text-align: left;
}

.about__span-accent{
    color: #13AB4E;
}

.about .paragraph{
    text-align: left;
}

.paragraph{
    width: 309px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

.request-button{
    display: block;
    width: 309px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #13AB4E;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about__consultation{
    display: flex;
    width: 174px;
    margin: 0 auto;
    text-decoration: none;
    gap: 8px;
}

.about__consultation-image{
    width: 24px;
}

.about__consultation-text{
    font-size: 16px;
    line-height: 24px;
    color: #13AB4E;
    margin-bottom: 15px;
}

.about__image{
    width: 343px;
    margin-left: 16px;
    margin-bottom: 33px;
}

.clients{
    padding-bottom: 57px;
}

.clients__paragraph{
    width: 245px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #0D7D38;
    margin: 0 auto;
    margin-bottom: 20px;
}

.clients__logos{
    width: 309px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 19px;
    margin: 0 auto;
}

.clients__logo{
    height: 44px;
}

.clients__logo:first-child{
    width: 110px;
    margin-right: 26px;
}

.clients__logo:nth-child(2){
    width: 97px;
    margin-right: 39px;
}

.clients__logo:nth-child(3){
    width: 33px;
}

.clients__logo:nth-child(4){
    width: 67px;
    margin-right: 36px;
}

.clients__logo:nth-child(5){
    width: 59px;
    margin-right: 24px;
}

.clients__logo:nth-child(6){
    width: 122px;
}


.title{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #0D7D38;
    margin-bottom: 12px;
}

.about .subtitle:last-of-type{
    text-align: center;
}

.about .paragraph:last-of-type{
    text-align: center;
}

.features{
    background-image: url(images/background-features-2.svg);
    background-repeat: no-repeat;
    padding-top: 48px;
    padding-bottom: 81px;
}

.features .subtitle{
    width: 343px;
    margin-bottom: 32px;
}

.features__link{
    color: #13AB4E;
}

.features__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.features__item{
    position: relative;
    width: 343px;
    margin: 0 auto;
}

.features__item-link{
    display: flex;
    text-decoration: none;
    margin-bottom: 16px;
}

.features__item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #DEDEDE;
}

.features__item-icon{
    width: 32px;
    margin-right: 12px;
}

.features__item_active .features__item-arrow{
    transform: rotate(180deg);
}

.features__item_active .features__item-title{
    color: #13AB4E;    
}

.features__item-title{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #333;
    align-self: center;
    margin-right: auto;
}

.features__item .paragraph{
    text-align: left;
    margin-bottom: 12px;
}

.features__item-image{
    width: 345px;
    margin-bottom: 24px;
}

.ourstats{
    padding: 56px 0;
}

.ourstats__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.ourstats .paragraph{
    margin-bottom: 32px;
}

.ourstats__number{
    font-size: 44px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
    color: #13AB4E;
}

.ourstats__stat-text{
    font-size: 18px;
    line-height: 36px;
}

.howitworks{
    width: 343px;
    margin: 0 auto;
}

.howitworks .title, .industries .title{
    text-align: left;
    margin-left: 17px;
}

.howitworks .subtitle, .industries .subtitle{
    width: 240px;
    line-height: 40px;
    text-align: left;
    margin-left: 17px;
}

.howitworks .paragraph, .industries .paragraph{
    text-align: left;
    margin-left: 17px;
}

.howitworks__paragraph{
    position: relative;
}

.howitworks__paragraph::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -24px;
    background-color: #DEDEDE;
}

.howitworks__items{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 32px;
}

.howitworks__item-title{
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    margin-left: 17px;
    margin-bottom: 8px;
}

.section-link{
    width: 309px;
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
    margin-bottom: 36px;
    text-decoration: none;
}

.section-link p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #13AB4E;
}

.howitworks__image{
    width: 343px;
}

.industries{
    padding-top: 38px;
    padding-bottom: 56px;
}

.industries .subtitle{
    width: 285px;
    margin-bottom: 12px;
}

.industries__item-link{
    position: relative;
    display: flex;
    width: 343px;
    color: #333;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 48px;
}

.industries__item-link::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -24px;
    background-color: #DEDEDE;
}

.industries__item-icon{
    width: 32px;
    margin-right: 16px;
}

.industries__item-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-right: auto;
    align-self: center;
}

.industries__item-arrow{
    width: 32px;
    transform: rotate(-90deg);
}

.industries .section-link{
    width: 343px;
}

.industries__image{
    width: 343px;
    margin-left: 16px;
}

.insight{
    padding-top: 48px;
    padding-bottom: 37px;
    background-color: rgba(19, 171, 78, 0.05);
}

.insight .subtitle{
    width: 343px;
    margin-bottom: 12px;
}

.insight .paragraph{
    margin-bottom: 32px;
}

.insight__image{
    display: none;
}

.insight__feedback{
    width: 343px;
    background-image: url(images/“.svg);
    background-repeat: no-repeat;
    background-color: white;
    padding-top: 42px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.insight__feedback-text{
    width: 309px;
    font-size: 16px;
    line-height: 32px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.insight__user-pic{
    width: 65px;
}

.insight__switch{
    width: 239px;
    display: block;
    margin: 0 auto;
}

.insight__user{
    display: flex;
    margin-left: 17px;
    margin-bottom: 48px;
}

.insight__user-text{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.insight__user-name{
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.insight__user-info{
    font-size: 12px;
    line-height: 18px;
}

.form{
    width: 343px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 76px;
}

.form .subtitle{
    margin-bottom: 12px;
}

.form .paragraph{
    width: 100%;
    margin-bottom: 32px;
}

.form__label{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.form__input{
    display: block;
    box-sizing: border-box;
    width: 343px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    margin-bottom: 12px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    background-color: #F7F8FA;
    border: none;
}

select.form__input{
    margin-bottom: 36px;
    color: #333;
}

.request-button_submit{
    width: 343px;
    height: 56px;
    border-radius: 7px;
    margin-bottom: 0;
}

.footer{
    background-color: #25322E;
    padding-top: 32px;
    color: white;
}

.footer__top{
    width: 343px;
    padding-bottom: 36px;
    margin: 0 auto;
}

.footer__logo{
    margin-bottom: 24px;
}

.footer__paragraph{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
}

.footer__certificationcode{
    display: block;
    margin-bottom: 36px;
}

.footer__list-container{
    display: inline-block;
    margin-left: 26px;
    margin-bottom: 36px;
}

.footer__list-container:nth-of-type(2){
    margin-left: 86px;
}

.footer__title{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.footer__list{
    list-style: none;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.footer__link{
    color: white;
    text-decoration: none;
}

.footer__addresses{
    display: grid;
    grid-template-columns: 156px 143px;
    row-gap: 29px;
    column-gap: 40px;
}

.footer__address-text{
    font-size: 14px;
    line-height: 21px;
}

.footer__address .footer__title{
    text-align: left;
}

.footer__bottom{
    background-color: #1C2D29;
    color: #BFBFBF;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.disclaimer{
    width: 343px;
    margin: 0 auto;
    margin-bottom: 24px;
}